---
import Layout from "@layouts/main/default.astro";

import { SITE_TITLE } from "@/consts";
---

<Layout>
  <a class="" href="https://github.com/joSecret/jo-base-theme">
    <span class="badge badge-primary">v1.0.beta</span>
  </a>

  <h1>{SITE_TITLE}.Docs</h1>
  <h2>Build as frameworks from the ground up</h2>

  <ul>
    <li>
      <a href="/jo-base-theme/docs/guidelines/typography">Typeography</a>
    </li>
  </ul>
</Layout>
