---
import Layout from "@layouts/main/default.astro";

import { SITE_TITLE } from "@/consts";
---

<Layout>
  <a class="" href="https://github.com/joSecret/jo-base-theme">
    <span class="badge badge-primary">v1.0.beta</span>
  </a>

  <h1>{SITE_TITLE}.Toolkit</h1>

  <h5 class="text-center">
    Powerful, extensible, and feature-packed frontend toolkit. Build and
    customize with PostCSS, utilize prebuilt grid system and components, and
    bring projects to life with minimum JavaScript code.
  </h5>

  Acest frontend toolkit este folosit pentru unificarea stilului in Drupal,
  Astro si Nexjs(comming).
</Layout>
