---
import { SITE_TITLE } from "@/consts.ts";

import Block from "@components/main/block/Block.astro";
---

<Block id="branding">
  <a class="logo" href="/jo-base-theme/">
    {SITE_TITLE}
  </a>
</Block>
