---
import "@pcss/components/nav.pcss.css";
import data from "@data/menuMain.json";

import HeaderLink from "@components/HeaderLink.astro";
---

<nav>
  <ul class="nav nav-main">
    {
      data.map((item) => {
        return (
          <li class="nav--li">
            <HeaderLink href={item.url}>{item.label}</HeaderLink>
          </li>
        );
      })
    }
  </ul>
</nav>
