---
import "../../pcss/components/badge.pcss.css";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
const title = SITE_TITLE;

import Html from "@components/astro/Html.astro";
import Header from "@/components/main/sections/Header.astro";
import Footer from "@components/frontpage/Footer.astro";
---

<Html title={title} description={SITE_DESCRIPTION}>
  <Header title={SITE_TITLE} />

  <main class="section--main">
    <slot />
  </main>

  <Footer />
</Html>

<style>
  .section--main {
    flex-grow: 1;
  }
</style>
