---
import Layout from "../../layouts/snippets/Snippets.astro";
---

<Layout>
  <a class="" href="https://github.com/joSecret/jo-base-theme">
    <span class="badge badge-primary">v1.0.beta</span>
  </a>

  <h1>Sleek <b>components</b> to execute any idea.</h1>

  <h5 class="text-center">
    Snippets is a collection of elements and combined components that you will
    find on demo pages.
  </h5>

  <ul class="snippets-list">
    <li>
      <div class="snippets-badge">
        Navbars
        <span>2</span>
      </div>
    </li>
    <li>
      <div class="snippets-badge">
        Content
        <span>175+</span>
      </div>
    </li>
  </ul>

  <ul class="snippets-list">
    <li>
      <a href="/jo-base-theme/snippets/carousel">HTML Carousel</a>
    </li>
    <li></li>
  </ul>
</Layout>
