---
import "../../pcss/components/badge.pcss.css";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import BaseHead from "../../components/astro/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/frontpage/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <a class="" href="https://github.com/joSecret/jo-base-theme">
        <span class="badge badge-primary">v1.0.beta</span>
      </a>

      <h1>Sleek <b>components</b> to execute any idea.</h1>

      <h5 class="text-center">
        Snippets is a collection of elements and combined components that you
        will find on demo pages.
      </h5>

      <ul class="snippets-list">
        <li>
          <div class="snippets-badge">
            Navbars
            <span>2</span>
          </div>
        </li>
        <li>
          <div class="snippets-badge">
            Content
            <span>175+</span>
          </div>
        </li>
      </ul>

      <ul class="snippets-list">
        <li>
          <a href="/jo-base-theme/snippets/carousel">HTML Carousel</a>
        </li>
        <li></li>
      </ul>
    </main>
    <Footer />
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-height: 100dvh;

        & > main {
          flex-grow: 1;
        }
      }

      .snippets-list {
        display: flex;
        gap: 0.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .snippets-badge {
        width: fit-content;
        color: #1e2022;
        background-color: rgba(33, 50, 91, 0.1);
        border-radius: 50rem;
        padding: 4px 4px 4px 16px;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;

        & > span {
          display: inline-block;
          padding: 8px;
          background-color: rgba(33, 50, 91, 0.1);
          border-radius: 50rem;
          min-width: 30px;
          text-align: center;
        }
      }
    </style>
  </body>
</html>
